.alerts{
  display: none;

  &--active{
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 10%;
    text-align: center;
    background: colors(second);
    padding: 1rem;
    border-radius: 10px;
    animation: alert 5s forwards;
    color: lighten(colors(lightBg), 10%);
  }
}
