.call-to{
  @include flexGen(row, nowrap, center, center);
  background: url('../assets/static/the-hub-call-to-action-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10rem 2rem;

  &__inner{
    @include flexGen(column, nowrap, center, flex-start);
    max-width: $max-width;
    width: 100%;
  }

  a{
    @extend %btn;
    background: colors(second);
    display: flex;
    font-family: $font-regular;
    color: lighten(colors(lightBg), 100%);
    transition: background .5s ease;

    &:hover{
      background: colors(prime);
    }
  }

  h2{
    font-size: 2rem;
    color: colors(lightBg);
    font-family: $font-medium;
    line-height: 1.3;
    margin-bottom: 2rem;
  }

  p{
    font-size: 1.5rem;
    color: colors(lightBg);
    line-height: 1.3;
    margin-bottom: 2rem;
  }
}
