.call-to{
  @include flexGen(row, nowrap, center, center);
  background: url('../assets/static/the-hub-call-to-action-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3rem 2rem;

  @include firstBrk{
    padding: 1rem 2rem;
  }

  &__inner{
    @include flexGen(column, nowrap, space-between, center);
    max-width: $max-width;
    width: 100%;

    @include firstBrk{
      @include flexGen(row, nowrap, space-between, center);
    }
  }

  &__left{
    width: 100%;
    order: 1;

    @include firstBrk{
      width: 50%;
      order: 0;
    }
  }

  &__rocket{

    @include firstBrk{
      margin-top: -1rem;
      margin-bottom: -4rem;
      order: 0;
    }
  }

  &__balloon{
    margin-left: -2rem;
    margin-top: 2rem;

    @include firstBrk{
      margin-top: -1rem;
      margin-bottom: -1rem;
      margin-left: 0 !important;
    }
  }

  &__right{
    @include flexGen(column, nowrap, center, flex-start);
    text-align: left;
    width: 100%;

    @include firstBrk{
      align-items: flex-end !important;
      width: 50%;
    }
  }

  a{
    @extend %btn;
    background: colors(second);
    display: flex;
    font-family: $font-regular;
    color: lighten(colors(lightBg), 100%);
    transition: background .5s ease;

    &:hover{
      background: colors(prime);
    }
  }

  h2{
    font-size: 2rem;
    color: colors(lightBg);
    font-family: $font-medium;
    line-height: 1.3;
    margin-bottom: 2rem;
    letter-spacing: .1rem;
  }

  p{
    font-size: 1.4rem;
    color: colors(lightBg);
    line-height: 1.5;
    margin-bottom: 2rem;
    letter-spacing: .1rem;
  }
}
