.category-front{
    @include flexGen(row, nowrap, center, center);

    &__inner{
      @include flexGen(column, nowrap, center, center);
      max-width: $max-width;
      width: 100%;
    }

    &__hero{
      @include flexGen(row, nowrap, center, center);
    }

    &__left{
      width: 50%;
      padding: 2rem;

      h1{
        font-family: $font-bold;
        font-size: 4rem;
        line-height: 5rem;
      }

      p{
          padding: 2rem 20rem 2rem 0;

          font-size: 1.3rem;
          line-height: 1.75rem;
      }
    }

    &__right{
      width: 50%;
      background: url('../assets/static/the-hub-square.svg');
      background-position: 90% 60%;
      background-repeat: no-repeat;
      padding: 2rem;

      img{
          width: 545px;
          height: 414px;
      }
    }


    // Filter Part
    &__filter{
        padding: 4rem 2rem;
        width: 100%;

        form{
            @include flexGen(row, nowrap, space-between, center);
        }

        label{
            font-size: 1rem;
        }

        button{
            @extend %btn;
            background: white;
            color: colors(second);
            border-color: colors(second);
            border-style: solid;
            font-size: .8rem;
        }
    }


    .postTileContainer{
      padding: 4rem 2rem 10rem 2rem;
      @include flexGen(column, nowrap, center, center);
      font-family: $font-bold;

      ul{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 5rem;
      }

      button{
        @extend %btn;
        background: white;
        color: colors(second);
        border-color: colors(second);
        border-style: solid;
        font-size: .8rem;
        margin-top: 5rem;
      }
    }

    .postTile{
      h3{
        font-size: 1.5rem;
        line-height: 2rem;
        padding: 1.25rem 0;
      }

      &__postCover{
        border-radius: 2%;
      }

      &__metaWrapper{
        @include flexGen(row, nowrap, space-between, center);
        font-size: 1.1rem;
      }

      &__authorWrapper{
        @include flexGen(row, nowrap, space-between, center);

        img{
          display: inline-block;
          object-fit: cover;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          margin-right: 1rem;
        }
      }

        span{
          color: colors(lightBg);
          padding-left: 2rem;
        }
    }
}
