.category-list{
  @include flexGen(row, nowrap, center, center);
  width: 100%;
  padding-bottom: 4rem;

  &__inner{
    @include flexGen(column, nowrap, center, flex-start);
    max-width: $max-width;
    width: 100%;
    padding: 2rem;
  }

  &__list{
    @include flexGen(row, wrap, flex-start, flex-start);
    width: 100%;
  }

  &__gradient{
    @include flexGen(column, nowrap, flex-end, flex-start);
    background-image: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,.6) 100%);
    height: 100%;
    padding: 2rem;
  }

  &__box{
    height: 550px;
    width: calc(33.33% - 2rem);
    background-position: center !important;
    background-size: 105% !important;
    color: lighten(colors(lightBg), 10%);
    transition: all .5s ease !important;

    &:nth-of-type(3n + 1){
      margin-right: 3rem;
      margin-top: -9rem;
    }

    &:nth-of-type(3n + 2){
      margin-right: 3rem;
      margin-top: -3rem;
    }

    &:nth-of-type(3n){
      margin-top: 3rem;
    }

    &:first-of-type(){
      margin-top: 0;
    }

    &:nth-of-type(2){
      margin-top: 6rem;
    }

    &:nth-of-type(3){
      margin-top: 12rem;
    }

    &:hover{
      color: colors(second) !important;
      background-size: 120% !important;

      h3{
        transform: translateY(-50px);
      }

      p{
        transform: translateY(-50px);
      }
    }
  }

  h3{
    font-size: 2rem;
    font-family: $font-bold;
    margin-bottom: 1rem;
    transition: transform .2s;
  }

  p{
    width: 50%;
    font-family: 1.1rem;
    line-height: 1.5;
    transition: transform .2s;

    &:not(:last-of-type){
      margin-bottom: 1rem;
    }

    svg{
      margin-left: .5rem;
      margin-top: .1rem;
    }

    &:last-of-type{
      @include flexGen(row, wrap, flex-start, center);
    }
  }
}
