.comments{
  @include flexGen(column, nowrap, flex-start, flex-start);

  max-width: 768px;
  margin-bottom: 7.5rem;
  padding: 2rem;
  align-self: flex-start;

  @include secondBrk{
    padding: 0;
  }

  &__form{
    width: 100%;
    @include flexGen(column, nowrap, center, flex-start);
    margin-bottom: 3.5rem;

    label{
      font-family: $font-bold;
      color: colors(prime);
    }

    textarea{
      margin-top: 1.2rem;
      padding: 26px 30px;
      width: 250px;
      height: 120px;
      border-radius: 10px;
      border-color: #ADADAD;
      resize: none;

      @include firstBrk{
        width: 523px;
      }
    }
  }

  &__list{

    li{
      @include flexGen(row, nowrap, flex-start, flex-start);
    }

    img{
      object-fit: cover;
      width: 30px;
      height: 30px;
      border-radius: 50px !important;
      margin-right: 1.25rem;
    }

    div{
      @include flexGen(column, nowrap, center, flex-start);
      max-width: 490px;
    }

    span{
      font-size: 0.875rem;
      font-family: $font-bold;
    }

    p{
      font-size: .75rem;
      margin-top: 1.68rem;
      line-height: 1.25rem;

      @include secondBrk{
        font-size: 1.1875rem;
        line-height: 2rem;
      }
    }
  }

  &__btn{
    @extend %btn;
    color: lighten(colors(lightBg), 100%) !important;
    background: colors(prime);
    font-size: .8rem;
    border-style: none;
    margin: 1rem;
    align-self: flex-end;
  }
}
