.Dropdown{
  &-root{
    background-color: colors(lightBg);
    border-radius: 10px;
    width: 18rem;
    height: 3.5rem;
    line-height: 3.5rem;

    margin-top: .5rem;
  }

  &-placeholder{
    padding: 0 1rem;

    .optionWrapper{
      @include flexGen(row, nowrap, space-between, center);

      svg{
        color: colors(second);
      }
    }
  }

  &-option{
    background-color: rgba(colors(lightBg), .5);
    position: relative;
    z-index: 1;
    width: 18rem;

    &:hover{
      background-color: rgba(colors(lightBg), .9);
    }
  }
}
