.hero-section{
  @include flexGen(column, nowrap, center, center);

  @include firstBrk{
    @include flexGen(row, nowrap, center, center);
  }

  &__left{
    @include flexGen(column, nowrap, center, flex-start);
    order: 1;
    width: 100%;
    padding: 2rem;

    @include firstBrk{
      order: 0;
      width: 50%;
    }

    h1{
      font-size: 4rem;
      font-family: $font-medium;
      margin-bottom: 2rem;
      line-height: 1.2;
    }

    p{
      font-size: 1.4rem;
      line-height: 1.5;
      margin-bottom: 2rem;
    }

    form{
      @include flexGen(row, nowrap, flex-start, center);
    }

    input[type="search"]{
      width: 40%;
      border-bottom: 2px solid colors(lightBg);
      padding: .3rem 0;
      transition: border-bottom .5s ease;

      &:focus, &:hover{
        border-bottom: 2px solid colors(second);
      }
    }

    button{
      background: transparent;
      border: 0;
      color: colors(second);
      font-size: 1.5rem;
      transition: color .5s ease;

      &:hover{
        color: colors(prime);
      }
    }
  }

  &__right{
    width: 100%;
    background: url('../assets/static/the-hub-square.svg');
    background-position: 90% 60%;
    background-repeat: no-repeat;
    padding: 2rem;

    @include firstBrk{
      width: 50%;
    }
  }
}
