.log-in{
  @include flexGen(column, nowrap, center, center);
  background: url("../assets/static/the-hub-signin-bg.png") no-repeat fixed center;
  color: white;

  &__innerDiv{
    width: 364px;
  }

  h1{
    font-family: $font-bold;
    font-size: 1.75rem;
    padding: 2rem 0;
  }

  label{
    font-family: $font-bold;
  }

  form{
    @include flexGen(column, nowrap, center, center);
  }

  span{
    width: 100%;
    @include flexGen(column, nowrap, center, flex-start);
    margin: 1rem 0;
  }

  input{
    border-style: none;
    border-radius: 10px;
    height: 3.5rem;
    line-height: 3.5rem;
    padding-left: 1rem;
    margin: 1rem 0;
    width: 100%;
  }

  &__passwordLabel{
    @include flexGen(row, nowrap, space-between, center);
    margin: 0;
    width: 100%;

    a{
      color: white;
    }
  }

  // LOG IN button
  &__createBtn{
    @extend %btn;
    align-self: flex-end;
    color: lighten(colors(lightBg), 100%) !important;
    background: colors(second);
    font-size: .8rem;
    font-family: $font-bold;

    &:hover{
      background: colors(prime);
    }
  }
}
