// Flex generator
@mixin flexGen($direction, $wrap, $justify, $align) {
  display: flex;
  flex-flow: $direction $wrap;
  justify-content: $justify;
  align-items: $align;
}

// Grid Generator
@mixin gridGen($columns, $rows, $row-gap, $column-gap) {
  display: grid;
  grid-template-columns: $columns;
  grid-template-rows: $rows;
  row-gap: $row-gap;
  column-gap: $column-gap;
}

// Gradient Generator
@mixin bgGrad($deg, $opacity){
  background: linear-gradient($deg, rgba(120,46,116,$opacity) 0%, rgba(249,41,98,$opacity) 100%);
}

@mixin clrGrad($deg){
  color: linear-gradient($deg, rgba(120,46,116,1) 0%, rgba(249,41,98,1) 100%);
}

// Media Queries
$smallScn: 0;
$mediumScn: 0;
$bigScn: 0;

@mixin smallScn{
  @media (min-width: $smallScn) {
    @content;
  }
}

@mixin mediumScn{
  @media (min-width: $mediumScn){
    @content;
  }
}

@mixin bigScn{
  @media (min-width: $bigScn){
    @content;
  }
}
