.mobile-header{
  @include flexGen(row, nowrap, center, center);
  padding: 1rem;
  margin-bottom: 2rem;

  &__inner{
    @include flexGen(row, nowrap, space-between, center);
    width: 100%;
  }

  &__logo{
    width: 100px;

    img{
      width: 100%;
    }
  }

  &__btn{
    font-size: 2.5rem;
    color: colors(second);
    margin-right: 1rem;
    background: transparent;
    border: 0;
  }
}
