.postTileContainer{
    padding: 2rem;
    @include flexGen(column, nowrap, center, center);

    ul{
        width: 100%;
        
    }

    
    button{
        @extend %btn;
        background: white;
        color: colors(second);
        border-color: colors(second);
        border-style: solid;
        font-size: .8rem;
    }
}