.post-section{
  @include flexGen(column, nowrap, center, center);
  font-family: $font-bold;
  margin-top: 4rem;

  &__inner{
    @include flexGen(row, wrap, space-between, center);
    padding: 2rem;
    max-width: $max-width;
    width: 100%;
  }

  &__box{
    @include flexGen(column, nowrap, space-between, flex-start);
  }

  &__details{
    @include flexGen(row, nowrap, space-between, center);
    width: 100%;
    font-size: 1rem;
  }

  &__author{
    @include flexGen(row, nowrap, space-between, center);

    img{
      object-fit: cover;
      width: 40px;
      height: 40px;
      border-radius: 50px !important;
      margin-right: 1rem;
    }

    span{
      color: colors(lightBg);
      padding-left: 2rem;
    }
  }

  &__meta{
    @include flexGen(row, nowrap, center, center);
    color: darken(colors(lightBg), 20%);

    span{
      @include flexGen(row, nowrap, center, center);
      margin: 0 .5rem;

      svg{
        margin: 0 .5rem;
      }
    }
  }

  &__cover{
    border-radius: 10px;
  }

  &__list{
    @include gridGen(repeat(3, 1fr), auto, 4rem, 4rem);
  }

  // Filter Part
  form{
    @include flexGen(row, nowrap, space-between, center);
    width: 100%;

    label{
      font-size: 1rem;
    }

    button{
      @extend %btn;
      background: white;
      color: colors(second);
      border-color: colors(second);
      border-style: solid;
      font-size: .8rem;
    }
  }

  h3{
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 1.25rem 0;
    transition: color .5s ease;
  }

  a{
    color: colors(darkBg);
    transition: .2s;

    &:hover{
      transform: scale(1.1);

      svg{
        color: colors(second);
      }

      h3{
        color: colors(second);
      }
    }
  }

  ul{
    @include gridGen(repeat(3, 1fr), auto, 5rem, 5rem);
    width: 100%;
  }

  button{
    @extend %btn;
    background: white;
    color: colors(second);
    border-color: colors(second);
    border-style: solid;
    font-size: .8rem;
    margin-top: 5rem;
  }

  svg{
    transition: color .5s ease;
  }
}
