.sign-up{
  @include flexGen(row, nowrap, center, center);
  width: 100%;

  form{
    @include flexGen(column, nowrap, center, center);
    max-width: 400px;
    width: 100%;
  }

  label{
    @include flexGen(column, nowrap, center, center);

    &:last-of-type{
      @include flexGen(row, nowrap, center, center);
    }
  }
}
