.site-footer{
  @include flexGen(row, nowrap, center, center);
  background: colors(lightBg);

  &__inner{
    @include flexGen(row, nowrap, space-between, center);
    max-width: $max-width;
    width: 100%;
    padding: 3rem 2rem;
  }

  &__right{
    @include flexGen(column, nowrap, center, flex-end);
  }

  &__logo{
    width: 5% !important;

    img{
      width: 100%;
    }
  }

  p{
    @include flexGen(row, nowrap, space-between, center);
    color: colors(darkBg);

    a{
      color: colors(darkBg);
    }

    span{
      margin-left: 3rem;
    }
  }

  ul{
    @include flexGen(row, nowrap, space-evenly, center);
  }

  li{
    margin: 0 1rem;
  }

  a{
    @include flexGen(row, nowrap, space-between, center);
    color: colors(darkBg);
    transition: color .5s ease;

    &:hover{
      color: colors(prime);

      svg{
        color: colors(prime);
      }
    }

    svg{
      margin-left: .5rem;
      margin-top: .1rem;
      color: colors(darkBg);
      transition: color .5s ease;
    }
  }
}
