.site-header{
  @include flexGen(row, nowrap, center, center);
  padding: 1rem;

  @include firstBrk{
    padding: 2rem;
  }

  &__inner{
    @include flexGen(row, nowrap, flex-start, center);
    max-width: $max-width;
    width: 100%;
  }

  &__call-to{
    @extend %btn;
    color: lighten(colors(lightBg), 100%) !important;
    background: colors(second);
    font-size: .8rem;
    transition: background .5s ease;

    &:hover{
      background: colors(prime);
    }
  }

  &__logo{
    width: 22%;

    @include firstBrk{
      width: 72px;
    }

    img{
      width: 100%;
    }
  }

  &__submenu{
    @include flexGen(column, nowrap, center, center);
    position: absolute;
    background: colors(lightBg);
    padding: 1rem;
    margin-left: -1rem;
    width: 130%;
    opacity: 0;
    pointer-events: none;
    transition: opacity .5s ease;

    li{
      margin: 0 0 1.5rem 0 !important;
    }

    a{
      padding: 0 !important;
    }
  }

  &__menu{
    display: none;
    margin-left: auto;

    @include firstBrk{
      @include flexGen(row, nowrap, space-evenly, center);
    }
  }

  &__avatar{
    width: 52px;
    border-radius: 100%;
    overflow: hidden;
  }

  li{
    margin: 0 1rem;
    position: relative;
    display: block;

    &:hover{

      .site-header__submenu{
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  a{
    @include flexGen(row, nowrap, space-between, center);
    color: colors(darkBg);
    transition: color .5s ease, background .5s ease;
    padding: 1rem 0;

    &:hover{
      color: colors(second);
    }

    svg{
      margin-left: .5rem;
      margin-top: .1rem;
      color: colors(second);
    }
  }

  form{
    width: 30%;
    margin-left: 2rem;
  }
}
