// Max width value
$max-width: 1440px;

// Palette ex: colors(prime) = #782e74
$colors: (
  darkBg: #000,
  prime: #782e74,
  second: #f92962,
  lightBg: #e3e3e3,
  accent: #0b7a75,
  gradient: linear-gradient(164deg, rgba(120,46,116,1) 0%, rgba(249,41,98,1) 100%)
);

@function colors($color-value){
  @return map-get($map: $colors, $key: $color-value)
};

// Placeholders ex: @extend %btn;
%btn{
  border-radius: 50px;
  padding: 1rem 1.5rem;
  border: 0 !important;
  font-family: 'ubuntubold';
  text-transform: uppercase;
}
