// Max width value
$max-width: 1440px;

// Font Variables
$font-regular: 'ubunturegular';
$font-medium: 'ubuntumedium';
$font-bold: 'ubuntubold';

// Palette ex: colors(prime) = #782e74
$colors: (
  darkBg: #000,
  prime: #782e74,
  second: #f92962,
  lightBg: #e3e3e3,
  accent: #0b7a75
);

@function colors($color-value){
  @return map-get($map: $colors, $key: $color-value)
};

// Placeholders ex: @extend %btn;
%btn{
  border-radius: 50px;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
}
