// Reset CSS
@import 'reset';

// Fonts
@import 'fonts';

// mixins
@import 'mixins';

// variables
@import 'variables';

// keyframes
@import 'keyframes';

// forms
@import 'forms';

// @imports
@import 'site-header';
@import 'site-footer';
@import 'call-to';
@import 'home-main';
@import 'category-section';
@import 'hero-section';
@import 'post-section';
@import 'category-list';
@import 'sign-up';
@import 'single-post';
@import 'comments';
@import 'mobile-menu';
@import 'mobile-header';
@import 'about';
@import 'alerts';
@import 'contact';
@import 'dashboard';
@import 'my-projects';
@import 'insights';

// Globals
*{
  box-sizing: border-box;
}

body{
  font-family: $font-regular;
  min-height: 100%;
  height: 100%;
}

html{
  min-height: 100%;
  height: 100%;
}

img{
  max-width: 100%;
  height: auto;
  display: block;
  border: none;
}

a{
  text-decoration: none;
  outline: none;

  &:focus, &:active, &:hover{
    outline: none;
  }
}

strong{
  font-family: $font-bold;
}

form{
  width: 100%;
}

input{
  font-family: $font-regular;

  &[type="search"]{
    border: 0;
  }
}

button{
  cursor: pointer;
}

#root{
  height: 100%;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}

.carousel{
  .slide{
    background: transparent;
  }

  &-slider{
    .control{
      &-prev{
        left: .5rem !important;
      }

      &-next{
        right: .5rem !important;
      }

      &-arrow{
        top: 7rem !important;
        height: 40px !important;
        background: colors(second) !important;
        opacity: 1 !important;
        font-size: .7rem !important;
        padding: .7rem !important;
      }
    }
  }
}

.no-project{
  @include flexGen(column, nowrap, center, center);
  width: 100%;
  padding: 4rem 0;

  img{
    width: 90px;
  }

  h3{
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 1.5rem;
  }

  p{
    font-family: $font-regular !important;
    margin-top: 2rem !important;
    width: 30%;
  }

  a{
    @extend %btn;
    margin-top: 3rem;
    border: 2px solid colors(second);
    color: colors(second);
    transition: all;

    &:hover{
      background: colors(second);
      color: lighten(colors(lightBg), 100%);
    }
  }
}
