// Reset CSS
@import 'reset';

// Fonts
@import 'fonts';

// mixins
@import 'mixins';

// variables
@import 'variables';

// @imports
@import 'site-header';
@import 'site-footer';
@import 'call-to';
@import 'home-main';
@import 'category-front';
@import 'postTileContainer';

// Globals
*{
  box-sizing: border-box;
}

body{
  font-family: $font-regular;
}

img{
  max-width: 100%;
  height: auto;
  display: block;
}

a{
  text-decoration: none;
}
